@charset "utf-8";

@import	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.custom-border {
   border: 10px solid black;
}


h1 {
	color: #66bbff;
}
.custom-bg {
    background-color: black;
}
img {
     max-width: 100%;
     height: 100px;
}
        
.Botao1 {
	text-decoration: none;
	background-color: rgb(255, 128, 192);
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.Botao2 {
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}

.Caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.Caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

#caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
}