@charset "utf-8";

@import	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.filter{
	background-color: #F2F2F2;
	height: 800px;
	margin-left: 4rem !important;
    margin-top: 1px!important;
    padding-top: 1rem!important;
        
}

body .row .filter.col-2.m-5 {
    margin-left: 4rem !important;
    margin-top: 1px !important;
    padding-top: 1rem !important;
}
